<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Detail</title>
    <!-- Add css styles here -->
</head>
<body>
    <h1>Blog Post Detail</h1>

{{!-- {{#if blogposts}} --}}
    <div class="post-details">
        <h2>{{blogpost.dataValues.title}}</h2>
         <p>{{blogpost.dataValues.content}}</p>
        <p>Posted by {{user.dataValues.username}} on 
            {{blogpost.dataValues.date_created}}
            </p>
    </div>

    <h2>Comments</h2>
    {{!-- {{help blogpost.Comments}} --}}
    {{#if blogpost.Comments.length}}
        <ul class="comment-list">
            {{#each blogpost.Comments}}
                <li class="comment">
                    <p>{{dataValues.comment}}</p>
                    <p>Comment by {{User.dataValues.username}} on {{format_date dataValues.date_created}}</p>
                    <button onclick="addComment()"></button>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Looks like there's no comments..</p>
        <button onclick="addComment({{blogpost.dataValues.id}})">Be the first to comment!</button>
        <form id="comment-form" class="comment-form" style="display: none;">
            <div class="form-group">
                <label for="comment-content">Comment:</label>
                <textarea class="form-input" id="comment-content" name="content" required></textarea>
            </div>
            <div class="form-group">
                <button id="comment-button" type="button" class="btn btn-primary" onclick="addComment({{blogpost.dataValues.id}})" >Comment</button>
            </div>
        </form>
    {{/if}}

    <script>
        function addComment(blogpostId){
            const comment = prompt('Enter comment:');
            console.log('comment:', comment);

             //Make a post request
            fetch('/api/comments', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify({comment: comment, blogpost_id: blogpostId}),
            })
            .then(response => {
            if (response.ok) {
                // Reload the page to see the updated data
                location.reload();
                conosle.log(blogpostId);
            } else {
                alert('Failed to make the comment.');
                console.error(error);
            }
        })
        .catch(err => {
            console.error('Error:', err);
            console.log(comment);
            alert('An error occurred while making your comment.');
        });

        }
    </script>
    <p></p>
    <a href="/dashboard">Back to Dashboard</a>

</body>
</html>