
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Posts</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    <h2>Welcome to your tech Blog!</h2>
    
    {{#if blogposts}}
        <ul>
            {{#each blogposts}}
                <li>
                    <h2>{{title}}</h2>
                    <p>{{content}}</p>
                    <p>Created by {{username}} on {{date_created}}</p>
                    <a href="/blogposts/{{id}}">View Details</a> | 
                    <a href="/blogposts/{{id}}">Comment on this post</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts available.</p>
    {{/if}}

    <a href="/login">Create New Post</a>

{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Post Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Post here:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if blogposts.length}}
  <div class="col-md-6 project-list">
    <h3>Current Posts:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</body>
</html> --}}